*{
    margin: 0;
}

body{
    background: url(images/rgb_green.jpg);
}

header{
    background-color: rgb(93, 214, 53);
    overflow: hidden;
    height: 100px;
    transition: height 0.3s ease; 
    margin-top: 15px;

}

.menu {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.menu li {
    position: relative;
}

.menu li:hover > ul {
    display: block;
}

#main_menu:hover header{
    height: 300px;
}

.under_menu > li{
    font-size: 1.3em;
    line-height: 45px;
}

.under_menu a{
    border-left: 3px solid green;
    color: white;
    padding-left: 5px;
}

header #main_image{
    float: left;
    padding-left: 150px;
    padding-top: 12px;
}

.main_images{
    height: 80px;
}

header > nav{
    float: right;
    padding-top: 30px;
}

nav a{
    text-decoration: none;
}

#menu{
    margin-right: 5px;
}

.high_menu{
    font-size: 1.5em;
    padding-right: 25px;
    color: white;
}

#c1, #c2, #c3, #c4{
    border-right: 1px solid black;
}

#main_menu{
    padding-right: 115px;
}

footer {
    background-color: rgb(93, 214, 53);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: 80px;
    padding-left: 160px;
    padding-right: 160px;
}


#main_under_icon{
    float: right;
}

footer a{
    color: white;
}


.intro_box{
    background-color: rgba(255, 255, 255, 0.667);
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.area1 {
    background-color: rgb(222, 208, 208);
    margin-left: 40px;
    border: 1px solid black;
    padding-top: 35px;
    width: 270px;
    height: 400px;
    float: left;
}

.area2{
    margin-left: 50px;
    width: 810px;
    float: left;
}

.area1 h2 {
    color: #000; /* 기본 글자 색상 */
    text-align: center;
}

.area1 ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 25px;
}

.area1 ul li {
    position: relative;
}

.area1 ul li a {
    font-size: 1.3em;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000; /* 기본 글자 색상 */
    line-height: 50px;
}

.area1 ul li:hover > a {
    color: #32CD32; /* 마우스 오버 시 연두색 글자 색상 */
}

.area1 ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgb(222, 208, 208);
    min-width: 200px;
    height: 300px;
    z-index: 1;
    overflow-y: scroll;
}

.area1 ul li:hover > ul {
    display: block;
}

.area1 ul ul li {
    position: relative;
    background-color: white;
}

.area1 ul ul li a {
    padding: 10px;
    color: #000; /* 기본 글자 색상 */
}

.area1 ul ul li:hover > a {
    color: #32CD32; /* 마우스 오버 시 연두색 글자 색상 */
}